@import "./../../styles/settings";

.whoiam {
  background-color: $bg-1;

  &__suptitle { text-decoration: underline; }

  &__wrapper { margin-top: 2rem; }

  &__info {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
  
      @media screen and (min-width: 1024px) { margin-bottom: 0.75rem; }
    }

    &--icon {
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    &--text {
      font-size: 1.5rem;
      
      a {
        color: $color-3;
        text-decoration: underline;
      }
    }
  }
}
