@import "./../../styles/settings";

.whoiam {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);

  &__suptitle { 
    @media screen and (max-width: 1024px) { font-weight: 400;  }
    @media screen and (min-width: 1024px) { text-decoration: underline;  }
  }

  &__wrapper { 
    margin-top: 1rem; 

    @media screen and (min-width: 1024px) { margin-top: 2rem;   }
  }

  &__info {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
  
      @media screen and (min-width: 1024px) { margin-bottom: 0.75rem; }
    }

    &--icon {
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    &--text {
      a {
        color: $color-3;
        text-decoration: underline;
      }
    }
  }
}
