@import "./../../styles/settings";

.whoiam {
  background-color: $bg-1;

  &__suptitle {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  &__wrapper {
    margin-top: 1.5rem;

    @media screen and (min-width: 1024px) { margin-top: 2rem; }
  }

  &__info {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
  
      @media screen and (min-width: 1024px) { margin-bottom: 1.4rem; }
    }

    &--icon {
      font-size: 2rem;
      margin-right: 1rem;
    }

    &--text {
      font-size: 1.5rem;

      @media screen and (min-width: 1024px) { font-size: 2rem; }
      
      a {
        color: $color-3;
        text-decoration: underline;
      }
    }
  }
}
