@import "./../../styles/settings";

.loader {
    height: 100vh;
    background-color: white;
  
    img {
      width: 200px;
      position: absolute;
      top: 40%; right: 50%;
      transform: translate(50%,-50%);
    }
  }
  