@import "./../../styles/settings";

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: white;
  z-index: 3;

  img { width: 100px; }
}

@media screen and (min-width: 768px) {
  .loader img { width: 200px; }
}
