@import "./../../../styles/settings";

.menu__wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: $color-1;
  background: $color-3;
  will-change: transform;
  transform: translateX(-105%);
  transition: transform 1s cubic-bezier(1, 0, 0, 1);
  z-index: 1;
  pointer-events: none;

  &.open { 
    transform: translateX(0); 
    pointer-events: all;
  }

  .nav {
    position: relative;
    left: 30px;
    top: 150px;
    width: 100vw;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      left: 180px;
      top: 180px;
      width: calc(90vw - 260px);
    }

    @media screen and (min-width: 1024px) { top: 140px; }

    @media screen and (min-width: 1280px) { top: 130px; }

    @media screen and (min-width: 1440px) { top: 140px; }

    @media screen and (min-width: 1680px) { top: 150px; }

    a {
      color: $color-1;
      cursor: pointer;
    }

    &__links {
      li {
        margin-bottom: 25px;

        @media screen and (min-width: 768px) { margin-bottom: 10px; }
        
        a {
          font-size: 3rem;
          width: max-content;
          display: block;
          position: relative;
          overflow: hidden;
          transition: color 0.5s $ease-out;
          
          @media screen and (max-width: 768px) { font-weight: 400; }

          @media screen and (min-width: 768px) { font-size: 4.25rem; }

          @media screen and (min-width: 1440px) { font-size: 4.5rem; }

          @media screen and (min-width: 1680px) { font-size: 5.5rem; }

          @media (hover: hover) {
            &:hover { color: $color-2; }
          }
        }
      }
    }
    
    &__icons {
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
      
      @media screen and (min-width: 768px) { margin-top: 40px; }
      
      li {
        margin-right: 30px;
        
        @media screen and (min-width: 768px) { margin-right: 10px; }

        @media screen and (min-width: 1440px) { margin-right: 20px; }
        
        a {
          font-size: 2.5rem;
          transform: translate(-100%);
          
          @media screen and (min-width: 768px) { font-size: 3rem; }

          @media screen and (min-width: 1440px) { font-size: 4rem; }

          @media screen and (min-width: 1680px) { font-size: 4.5rem; }

          @media (hover: hover) {
            &:hover { color: $color-2; }
          }
    
        }

        &:last-of-type { margin-right: 0; }
      }
    }
  }
}
