@import "./../../../styles/settings";

.menu__btn {
  position: fixed;
  left: 11px;
  top: 50px;
  z-index: 2;
  transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);

  @media screen and (max-width: 768px) { display: none; }

  button {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border: none;
    background: 0 0;
    transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);

    span {
      &:after,
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 48px;
        display: block;
        will-change: transform;
        background-color: $color-3;
        transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
      }

      &:before { transform: translate(-5px, -50%) scaleY(0.7) rotate(180deg); }
      
      &:after { transform: translate(5px, -50%) scaleY(0.7) rotate(0); }
    }
  }
  
  &.open {
    transform: translateX(80px);
    transition-delay: 0.4s;

    @media (hover: hover) {
      &:hover {
        button {
          transform: rotate(180deg);
        }
      }
    }

    span {
      &:before {
        background-color: $color-1;
        transform: translate(-50%, -50%) rotate(315deg);
      }
      &:after {
        background-color: $color-1;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &--mobile {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 15;
    text-transform: uppercase;
    color: $color-1;
    font-weight: bold;
    background: $color-3;
    padding: 5px;
    height: 30px;
    width: 60px;
    border: 1px solid $color-3;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    pointer-events: none;

    &.open { 
      transform: rotate(180deg); 
      pointer-events: all;
    }

    @media (hover: hover) {
      &:hover {
        color: $color-2;
      }
    }

    @media screen and (min-width: 768px) { display: none; }
  }
}
