@import "./../../styles/settings";

.experiences {
  background-color: $bg-3;

  &__suptitle {
    margin-bottom: 2rem;
  }
  
  &__item {
    margin-bottom: 0.5rem;

    @media screen and (min-width: 768px) { margin-bottom: 1rem; }

    &--title {
      font-weight: 400;
      font-size: 1.5rem;
      cursor: pointer;
      
      span {
        font-weight: 200;
        font-size: 1.25rem;
        font-style: italic; 
      }
    }

    &--content {
      padding-top: 1rem;
      transform-origin: top center;

      ul li {
        font-size: 1.25rem;
        line-height: 1.75rem;

        span { 
          opacity: 0.6;
          font-style: italic; 
        }
      }
    }
  }

  &__cv {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;

    @media screen and (min-width: 768px) { margin-top: 2rem; }

    &--icon {
      font-size: 30px;
      margin-right: 10px;
    }

    a { color: $color-3; }
  }
}
