.home {
  display: flex;
  align-items: flex-end;

  h1 {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 40vh;
  }
}

@media screen and (min-width: 768px) {
  .home {
    h1 {
      font-size: 10rem;
      line-height: 10rem;
      margin-bottom: 30vh;
    }
  }
}

@media screen and (min-width: 1444px) {
  .home {
    h1 {
      font-size: 15rem;
      line-height: 15rem;
      margin-bottom: 20vh;
    }
  }
}

@media screen and (min-width: 1680px) {
  .home {
    h1 {
      font-size: 20rem;
      line-height: 20rem;
      margin-bottom: 10vh;
    }
  }
}
