@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

$font-1: "Poppins", sans-serif;
$font-2: "Bowlby One", sans-serif;

$color-1: hsl(210, 36%, 96%);
$color-2: #FFFF00;;
$color-3: #222;
$color-4: #000;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

body {
    font-family: $font-1;
    background-color: $color-1;
}