@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");

// fonts
$font-1: "Poppins", sans-serif;
$font-2: "Bowlby One", sans-serif;

// colors
$color-1: hsl(210, 36%, 96%);
$color-2: #ffff00;
$color-3: #000;

// background colors
$bg-1: #fef1e6;
$bg-2: #f3f0d7;
$bg-3: #cee5d0;
$bg-4: #fcffa6;

// various
$transition: 0.3s ease-in-out;
$ease-out: cubic-bezier(0.23, 1, 0.32, 1);
$shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
