@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");

$font-1: "Poppins", sans-serif;
$font-2: "Bowlby One", sans-serif;

$color-1: hsl(210, 36%, 96%);
$color-2: #ffff00;
$color-3: #222;
$color-4: #000;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body {
  font-family: $font-1;
  background-color: $color-1;
}

/* General style */

.container {
  position: relative;
  width: calc(100vw - 50px);
  min-height: 100vh;
  margin: 0 auto;

  h1 {
    font-family: $font-2;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.page {
  h1 {
    font-size: 6rem;

    padding-top: 22px;
    margin-left: -8px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: 75px;
    padding-left: 35px;

    width: calc(100vw - 126px);
    border-left: 1px solid rgb(116, 116, 116);
  }
}
