@import "./settings";

// RESET

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul { list-style-type: none; }

a { text-decoration: none; }

// GLOBAL

body {
  font-family: $font-1;
  font-weight: 200;
  font-size: 1.2rem;
  background-color: $color-1;
  overflow-x: hidden;
  cursor: default;
}

#root { overflow: hidden; }

h1,
h2 { font-family: $font-2; }

h1 {
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
  word-break: break-word;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  @media screen and (min-width: 1400px) {
    font-size: 21rem;
    line-height: 23rem;
    margin-bottom: 0;
  }
}

p {
  font-size: 1.5rem;
  line-height: 2rem;

  &:not(:last-of-type) { margin-bottom: 1rem; }
}

a { color: $color-3; }

section {
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  padding: 2rem 1rem;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    margin-left: 75px;
    padding: 48px 2.2rem;
    border-left: 1px solid rgb(116, 116, 116);
  }

  @media screen and (min-width: 1400px) { padding: 45px 3rem; }

  &:not(.home) {
    h1 {
      font-weight: 600;

      @media screen and (min-width: 1400px) { margin: -1rem 0 0 -0.5rem; }
    }
  }
}
