@import "./../../styles/settings";

.infos {
    ul {
        margin-top: 2rem;
        li {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;

            .icon {
                font-size: 2rem;
                margin-right: 1rem;
            }

            p:hover {
                font-weight: 600;
                color: $color-4;
            }
        }
    }
}