@import "./../../styles/settings";

.job {
  margin-bottom: 1.5rem;

  .header {
    margin-bottom: 0.5rem;

    .title {
      font-size: 1.5rem;
      font-weight: 400;
      cursor: pointer;
    }

    .title:hover {
      font-weight: 600;
      color: 3;
    }

    .subtitle {
      font-style: italic;
    }
  }

  .description {
    display: none;
  }

  .show-description {
    display: block;
    span {
      // font-style: italic;
      font-weight: 400;
      font-size: 1rem;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }
}

.cv {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;

  .icon {
    font-size: 30px;
    margin-right: 10px;
  }

  a {
    color: 3;
  }
  a:hover {
    font-weight: 600;
  }
} 

@media screen and (min-width: 768px) {
  .job {
    margin-bottom: 1.5rem;

    .header {
      margin-bottom: 1rem;

      .title {
        font-size: 2.5rem;
      }
  }

  .show-description {
    span {
      font-size: 1.2rem;
    }
    p {
      font-size: 1.4rem;
    }
  }

  .cv {
    margin-top: 2rem;
  }
}
}

@media screen and (min-width: 1440px) {

  .job {
    margin-bottom: 2.5rem;

    .title {
      font-size: 3rem;
    }
    
    .subtitle {
      font-size: 1.5rem;
    }

    .show-description {
      span {
        font-size: 1.8rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }
}
