@import "./../../styles/settings";

.contact {
  background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);

  &__suptitle {
    p:not(:last-of-type) {
      margin-bottom: 0;
    }
  }

  &__details { 
    margin-top: 3rem; 

    .contact__desc {
      @media screen and (min-width: 1024px) { text-decoration: underline;  }
    }
  }

  &__links { 
    margin-top: 1rem; 

    @media screen and (min-width: 1024px) { margin-top: 2rem;  }
  }

  &__link:not(:first-of-type) { margin-top: 15px; }

  &__link {
    display: flex;
    align-items: center;

    a {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      
      @media screen and (min-width: 768px) {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 200;
      }
    }

    svg {
      font-size: 30px;
      margin-right: 20px;

      @media screen and (min-width: 1024px) {
        font-size: 35px;
        margin-right: 25px;
      }
    }
  }
}