@import "./../../styles/settings";

.contact {
  background-color: $bg-4;

  &__suptitle {
    p:not(:last-of-type) {
      margin-bottom: 0;
    }
  }

  &__details { 
    margin-top: 3rem; 

    .contact__desc { text-decoration: underline; }
  }

  &__links {
    margin-top: 2rem;
  }

  &__link {
    display: flex;
    align-items: center;
    margin-top: 15px;

    svg {
      font-size: 30px;
      margin-right: 20px;

      @media screen and (min-width: 1024px) {
        font-size: 35px;
        margin-right: 25px;
      }
    }

    a,
    p { font-size: 1.5rem; }
  }
}