@import "./../../styles/settings";

.contact {
  background-color: $bg-4;

  &__suptitle {
    margin-top: 1rem;

    p:first-child { margin-bottom: 1rem; }
  }

  &__details { margin-top: 50px; }

  &__links {
    margin-top: 1rem;
  }

  &__link {
    display: flex;
    align-items: center;
    margin-top: 15px;

    svg {
      font-size: 30px;
      margin-right: 20px;

      @media screen and (min-width: 1024px) {
        font-size: 40px;
        margin-right: 25px;
      }
    }
  }
}