@import "./../../styles/settings";

.header-wrap {
  .description {
    position: fixed;
    z-index: 9;
    bottom: 3.5vh;
    right: 4vw;
    max-width: 120px;
  
    color: $color-3;
    text-align: right;
    text-transform: uppercase;
  
    font: {
      weight: 300;
      size: 15px;
    }
  }
}
