@import "./../../styles/settings";

.experience {
  background-color: $bg-3;
  p {
    line-height: 1.4em;
    font-size: 1.25rem;
  }

  .job {
    padding: 1rem 0;

    .title {
      margin-bottom: 0.5rem;
      p {
        font-style: italic;
      }
    }

    .description {
      span {
        font-style: italic;
        font-weight: 400;
      }
      p {
        margin-bottom: 0.5rem;
      }
    }
  }
}
