@import "./../../../styles/settings";

.menu-holder {
  .menu-inside {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;

    will-change: transform;
    transform: translateX(-100%); // par défaut on cache le menu
    transition: transform 1s cubic-bezier(1, 0, 0, 1);

    background: $color-4;
    color: $color-1;

    &.open { // lorsqu'on clique sur le bouton on affiche le menu
      transform: translateX(0);

      .nav-links {
        li {
          a {
            transform: translate(0);
            transition-duration: 0.8s;
            transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
      }
    }

    .menu-nav-container {
      position: relative;
      left: 130px;
      top: 95px;
      overflow: hidden;
      width: 100vw;
    }

    .nav-links li a, .nav-icons li a{
      color: $color-1;
      cursor: pointer;
      transform: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .nav-links {
      li {
        margin-bottom: 10px;

        a {
          font-size: 3rem;
        }

        a:hover {
          font-weight: 800;
          color: $color-2;
        }
      }
    }

    .nav-icons {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;

      li {
        margin-right: 10px;

        a {
          font-size: 2.5rem;
          transform: translate(-100%);
        }
        a:hover {
          color: $color-2;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-holder {
    .menu-inside {
      .menu-nav-container {
        left: 220px;
        top: 110px;
        width: calc(90vw - 260px);
      }
      .nav-links {
        li {
          margin-bottom: 10px;
          a {
            font-size: 4rem;
          }
        }
      }
      .nav-icons {
        margin-top: 40px;
        li {
          margin-right: 10px;
          a {
            font-size: 3rem;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 1444px) {
  .menu-holder {
    .menu-inside {
      .menu-nav-container {
        top: 120px;
      }
      .nav-links {
        li a {
            font-size: 4.5rem;
        }
      }
      .nav-icons {
        li {
          margin-right: 20px;
          a {
            font-size: 4rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1680px) {
  .menu-holder {
    .menu-inside {
      .menu-nav-container {
        top: 150px;
      }
      .nav-links {
        li a {
            font-size: 5.5rem;
          }
        }
      .nav-icons {
        li a {
            font-size: 4.5rem;
        }
      }
    }
  }
}