.cursor{
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 3;

  @media screen and (max-width: 1200px) { display: none; }
}